<p id="notice"><%= notice %></p>

<p>
  <strong>Albumname:</strong>
  <%= @album_type.albumname %>
</p>

<%= link_to 'Edit', edit_album_type_path(@album_type) %> |
<%= link_to 'Back', album_types_path %>
