<div class="jumbotron vertical-center">
<div class="container conrainer-bg">
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path, class:"btn btn-default btn-sm" %>
</div>
</div>