<div class="jumbotron vertical-center">
      <div class="container conrainer-bg">
        <h1 class="text-center">New Album</h1>
        <div class="center-items">
            <%= render 'form', photo: @photo %>
            <%= link_to 'Back', photos_path %>
        </div>
    </div>
</div>