/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100%;
}

.conrainer-bg {
    background-color: #e2e2e2;
}

.center-items {
    margin: 0 auto;
    width: 50%;
}

a:hover {
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #225d90;
}

ul {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar-nav {
    flex-direction: row;
}

li {
    display: inline-block;
    padding-left: 1em;
    font-size: calc(0.485rem + 0.52vw);
}

.navbar ul li {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.navbar ul li a {
    color: #cccfd2;
}

button,
[type="submit"] {
    background-color: #c1d0fd;
}

.images-view {
    width: 30%;
}

.navbar-brand {
    /* color: #bbbbbb !important; */
    color: #c5c4bd !important;
    font-weight: bold;
}

.bg-costume {
    background-color: #d8d8d8;
}

.text-costume {
    color: #8c8c8c;
}

.border {
    padding-right: 1em;
}

.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.profile-userpic {
    margin: 0 auto;
    width: 88%;
    padding-left: 3em;
}

/* Album */
.album-backgrond {
    height: 350px !important;
}

#gallery img {
    width: 100%;
    height: 210px;
}

.col-md-3 {
    padding: 0;
}

.photo {
    text-align: center;
    position: relative;
}

.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info {
    width: 285px;
    height: 210x;
}

.photo-img,
.photo-hover,
.photo-hover .mask {
    position: absolute;
    top: 0;
    left: 0;
}

.photo-type-line .photo-hover {
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}

.photo-type-line .photo-info {
    z-index: 10;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.photo-type-line .photo-info .headline {
    font-size: 20px;
}

.photo-type-line .photo-info .line {
    height: 1px;
    width: 0%;
    margin: 15px auto;
    background: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.photo-type-line .photo-hover .mask {
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 0;
}

.photo-type-line .photo-hover:hover .line {
    width: 40%;
}

.desc:hover {
    opacity: 0.5;
    background-color: #000;
    font-size: 14px;
}

.photo-type-line .photo-hover:hover {
    opacity: 1;
}

.photo-img {
    background: #7a548f;
    z-index: 0;
    height: 210px;
}

footer {
    position: fixed;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    overflow: hidden;
}