<div class="jumbotron vertical-center">
<div class="container conrainer-bg">
<h1>New Photo Attachment</h1>

<%= render 'form', photo_attachment: @photo_attachment %>

<%= link_to 'Back', photo_attachments_path %>
</div>
</div>